/* Style Reset Rule */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root Variables */
:root {
    --card-bg-primary: #0F0E17;
    --title-color-primary: #E53170;
    --email-link-color: #42B5EE;

    /* Generic Colors */
    --color-white: white;

    /* Fonts Variables */
    --main-title: 'Lilita One', cursive;
    --main-card-title: 'Montserrat Alternates', sans-serif;
    --content-font: 'Ubuntu', sans-serif;
}

/* ---- CSS Design Page Begin ---- */

/* Main Tags */
body {
    font-family: var(--content-font);
    margin: 0 auto;
    width: 70%;
}

    /* Header Section */
    header {
        margin: 50px 0 20px 0;
        text-align: center;
    }

    h1 {
        color: var(--title-color-primary);
        font-family: var(--main-title);
    }

    p {
        margin: 40px 0 0 0;
        font-weight: 400;
        line-height: 1.3rem;
    }

/* Main Content Section */
.cards-column {
    float: left;
    width: 33.33%;
    padding: 20px 5px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.card-item {
    border: 1px solid magenta;
    height: 100px; /* Should be removed. Only for demonstration */
    margin: 20px 0 20px 0;
    background-color: var(--card-bg-primary);
}

/* Clearfix Float Rule */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
